*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body{
  margin: 0;
}

/*
Layout with flexbox
*/
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.col{
  flex: 1;
}
.col-50,
.col-30{
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}
/*
Extra Layout - 50% & 33%
*/
.col-50{
  width: 50%;
}
.col-30{
  width: 33.3333%;
}

/*
Demo
*/
.col{
  word-break: break-word;
}
.demostyle{
  background: #64a3dc;
  color: #fff;
  padding: 1em;
  margin: 0.5em;
}
.t-c{
  text-align: center;
}
h2{
  margin: 60px 0 10px 0;
}
.prettyprint{
  background: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 2px;
  -moz-border-radius: 2px;
}
code{
  background: #eee;
  display: inline-block;
  padding: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
}

/*
Media query
*/
@media (max-width: 768px) {
  .row > .col,
  .col-50,
  .col-30 {
    -webkit-box-flex:  0 0 100%;
    -moz-box-flex:  0 0 100%;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}
@media (max-width: 480px) {

}
